body {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  font-size: 20px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjRO4eEfx02Em30hOnP6-DZZaZFylmybuyTORkBOBmns7fuflE);
  background-size: cover;
}

.container {
  margin-top: 30px;
  text-align: left;
  border: 3px darkblue dashed;
  padding: 35px;
}

.headers {
  font-weight: bold;
  color: darkblue;
  line-height: 60px;
}

#maintitle {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#profilepic {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
